version: '3'

services:

  api-gateway:
    image: myassineboum/sporterz-web:api-gateway-compose
    ports:
      - "8888:8888"
    networks:
      - sporterz-network

  auth-service:
    image: myassineboum/sporterz-web:auth-service
    ports:
      - "8085:8085"
    networks:
      - sporterz-network

  match-service:
    image: myassineboum/sporterz-web:match-service
    ports:
      - "8082:8082"
    networks:
      - sporterz-network

  messaging-service:
    image: myassineboum/sporterz-web:messaging-service
    ports:
      - "8083:8083"
    networks:
      - sporterz-network

  posts-service:
    image: myassineboum/sporterz-web:posts-service
    ports:
      - "8081:8081"
    networks:
      - sporterz-network

  frontend:
    image: myassineboum/sporterz-web:frontend-nginx
    ports:
      - "4200:4200"
    networks:
      - sporterz-network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - api-gateway
    networks:
      - sporterz-network

  # Prometheus
  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - api-gateway
      - auth-service
      - match-service
      - posts-service
      - messaging-service
    networks:
      - sporterz-network

  # Grafana
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    links:
      - prometheus:prometheus
    volumes:
      - ./grafana:/var/lib/grafana
    networks:
      - sporterz-network

networks:
  sporterz-network:
    driver: bridge